html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;

  background-color: black;
  height: 90vh;
}

.options {
  width: 90%;
  height: 90%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-self: center;
}

.header {
  width: 100%;
  display: flex;

  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 7vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game {
  width: 30vh;
  height: 30vh;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vh;
  background-color: whitesmoke;
}

.game-title {
  text-align: center;
}
.gamerow {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  justify-content: space-around;
  margin: auto;
}

img {
  width: 20vh;
  height: 20vh;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 3vh;
}
