html,
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #cf9fae;
}
body {
  max-height: 100vh;
  max-width: 100vw;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 90%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vh;
}

header {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  height: 10vh;
  display: flex;
  font-size: 5vh;
  justify-content: center;
  align-items: center;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

button {
  height: 5vh;
  font-size: 3vh;
}
.title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules {
  font-size: 3vh;
  padding-top: 1vh;
}

img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.over {
  display: none;
}

.grid {
  height: 500px;
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .back {
    width: 20%;
  }

  button {
    height: 2vh;
    font-size: 1vh;
  }
  .title {
    width: 80%;
    font-size: 3vh;
  }
  .rules {
    font-size: 2vh;
    padding-top: 0.5vh;
  }
  .title p {
    font-size: 3vh;
  }
  header {
    height: 8vh;
    font-size: 3vh;
  }
  .container-item {
    font-size: 2vh;
  }
}
